body {
    color: #333;    
}

.container {
    margin: 0 auto;
    padding: 0 20px;
}

.head {
    display: flex;
    padding: 20px 0 0 50px;
    flex-direction: row-reverse;
}

.chart {
    height: 400px;
    margin: 0 auto;
}

@media (max-width: 800px) {
    .chart {
        height: 200px;
    }
}

.chart-filters {
    display: flex;
    justify-content: flex-end;
    height: 90px;
    align-items: center;
}

.coin {
    background: white;
    border: 1px solid #ddd;
    padding: 2px;
    position: relative;
    animation-name: moveDown;
    animation-duration: 0.3s;
}

.coin:hover {
    cursor: pointer;
    margin-top: -5px;
    animation-name: moveUp;
    animation-duration: 0.3s;
}

@keyframes moveUp {
    from {margin-top: 0px;}
    to {margin-top: -5px;}
}

@keyframes moveDown {
    from {margin-top: -5px;}
    to {margin-top: 0px;}
}

.nav-button {
    margin-right: 80px;
    background: #f3f3f3;
    border: 1px solid #ddd;
    line-height: 24px;
    color: #333;
}

.coin-settings {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.coin-filter {
    display: flex;
    justify-content: space-between;
}

.coin-grouping {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.coin-grouping label {
    margin-left: 5px;
}

.selected-coins {
    width: 145px;
    margin-right: 15px;
    flex-direction: row-reverse;
}

.selected-coins .coin-item .remove-coin {
    display: none;
    background: #d85757;
    color: white;
    border-radius: 50px;
    padding: 0 7px;
    position: absolute;
    z-index: 9999;
    left: -3px;
    top: 20px;
    font-size: 10px;
}

.selected-coins .coin-item:hover .remove-coin {
    display: block;
}